name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Run shellcheck
      uses: ludeeus/action-shellcheck@master
      with:
        scandir: './tests'
        severity: warning

  markdown-lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Lint markdown files
      uses: articulate/actions-markdownlint@v1
      with:
        config: .markdownlint.json
        files: '**/*.md'
        ignore: node_modules
